<h2 mat-dialog-title align="center" class="animated fadeIn"><small> Vista Previa HTML </small></h2>
<mat-dialog-content class="container animated fadeIn">
  <p>
    Este componente es cargado mediante Angular Material con el modulo "DialogModule"
  </p>
  <p class="mt-2">
    <small>
      Este "DialogModule" es utilizado normalmente para mostrar a un cliente los terminos y condiciones en el momento de algun registro, envio de algun tipo de datos, carga y
      descarga de archivos, etc...
    </small>
  </p>
  <div class="container text-center">
    <img class="container img-size" align="center" src="./assets/image004.jpg">
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="container animated fadeIn">
  <button mat-stroked-button color="warn" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
